<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="tdt4250.at.sirius.diagram.Activator"
               id="tdt4250.at.sirius.diagram"
	       name="diagram">
    </component>
  </extension>
</plugin>
