<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated at -->
      <package
            uri="platform:/plugin/tdt4250.at.model/model/at.ecore"
            class="at.AtPackage"
            genModel="model/at.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated at -->
      <parser
            type="at"
            class="at.util.AtResourceFactoryImpl"/>
   </extension>

</plugin>
